@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scale {
  transition: 0.2s ease all;
}

/* .custom-width {
  max-width: 32rem;
} */

.custom-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, #63b3ed 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 2s infinite;
}
@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}
