@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  min-height: 350px;
  max-height: 350px;
  height: auto;
  transition: 0.3s ease all;
}

img:hover {
  scale: 102%;
}
